%h1 Home
- if current_user
  - if !current_user.latestTopics.nil?
    %h2 Latest topics
    %ul
    - current_user.latestTopics.each do |topic|
      %li
        = link_to topic.display_name, topic_path(topic)
  = link_to 'All topics', topics_path(user_id:current_user.id)
  = link_to 'Create topic', new_topic_path
%h2 Cards added recently
%ul
- @latest_cards.each do |card|
  %li
    = link_to card.question, card_path(card)

