<strong>Question:</strong> <%= @card.question %><br />
<strong>Answer:</strong> <%= @card.answer %>

<% if @card.image.exists? %>
  <h2>Photo</h2>
  <%= image_tag @card.image %>
<% end %>

<p><%= link_to "Back to #{@card.topic.name}", topic_path(@card.topic) %></p>
